<div mat-card>
    <h3 mat-card-title>About Me</h3>
    <div class="aboutMe">
        <img src="media/pic.jpg" width="200" height="350">
        <p mat-card-content>
            Technically chemical-engineering work ability to function well in fast-paced and deadline-driven team environments.
                Then run tourism business for a few years before pandemic The Covid-19 virus. Python have been interested in many ways to Python Developer,
                because its popularity and likely human language include manipulating data to Data Analytics.
        </p>
    </div>
</div>